<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="panel plan">
			<div class="panel-body">
				<span class="plan-title"><a href="/siel/environment">Environment</a></span>
				
				<div class="plan-icon">
					<i class="fa fa-laptop"></i>
				</div>

				<p class="text-muted pad-btm">
					Shows the environment info, about the language and other project details.
				</p>
				
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="panel plan">
			<div class="panel-body">
				<span class="plan-title"><a href="/siel/controllers">Controllers</a></span>
				
				<div class="plan-icon">
					<i class="fa fa-code"></i>
				</div>

				<p class="text-muted pad-btm">
					Manage and create your controllers and scaffolds by a better and faster way.
				</p>
				
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="panel plan">
			<div class="panel-body">
				<span class="plan-title"><a href="/siel/models">Database</a></span>
				
				<div class="plan-icon">
					<i class="fa fa-tasks"></i>
				</div>

				<p class="text-muted pad-btm">
					Manage your model generations, associations and validations from the easiest way.
				</p>
				
			</div>
		</div>
	</div>
</div>


